{% extends "emails/_base.html" %}
{% block body %}
<p>Olá, {{ row.parent_name.split()[0] }}!</p>
{% if first %}
<p>Pagamento confirmado. A primeira história de <b>{{ row.child_name }}</b> já está sendo escrita, ilustrada e narrada.
  Ela chega em outro e-mail daqui a alguns minutos.</p>
<p>Depois disso, chega uma história nova a cada {{ settings.story_interval_days }} dias, até {{ row.paid_until|date_br }}.</p>
{% else %}
<p>Renovação confirmada! As histórias de <b>{{ row.child_name }}</b> continuam chegando até {{ row.paid_until|date_br }}.</p>
{% endif %}
<p>Este é o link da sua conta. Guarde este e-mail: por ele você vê todas as histórias, edita os dados e renova o plano.</p>
{% with url=account_url, label="Abrir minha conta" %}{% include "emails/_button.html" %}{% endwith %}
<p>Boas leituras! 📚</p>
{% endblock %}
